/* Estilos generales */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 900px;
  background-color: #6e000b;
  width: 100%;
}

/* Estilos para el historial */
.historial {
  width: 15%;
  background-color: #6e000b;
  color: #dd9833;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titulo {
  width: 100%;
  background-color: #3d3937;
  background-image: linear-gradient(to right, #dd9833, #b47618, #995c00);
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido {
  display: flex;
  flex-direction: column;
  width: 85%;
}

/* Estilos para el tablero */
#table {
  width: 80%;
  height: 600px;
  background-image: url(../imagenes/fondo.jpg);
  display: flex;
  justify-content: center;
  margin: auto;
  line-height: 50px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: "uno dos cinco"
                       "tres cuatro cinco";
}

/* Estilos para las cartas */
#miscartas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 70px;
  height: 105px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: white;
  margin-right: 10px;
}

/* Estilos para otras secciones (juego, jugadores, etc.) */
/* ... */

/* Estilos para el área de botones */
.taco {
  width: 20%;
  background-color: rgba(137, 43, 226, 0);
}

.cartas {
  color: #dd9833;
  width: 100%;
  background-color: rgba(185, 111, 14, 0);
  min-height: 250px;
}

/* Otros estilos y reglas específicas... */
