body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

/*CONTENEDOR*/
.container{
  width: 100%;
  background-color: #6E000B;
display: flex;
flex-direction: row;
min-height: 900px;
}

/*HISTORIAL*/
.historial{
  margin-top: 80PX;
  width: 15%;
  background-color: #6E000B;
  color: #DD9833;
  display: flex;
  align-items: center;
  flex-direction: column;
}
hr{
  background-color: #DD9833;
  border: 2px solid #DD9833;
  width: 200px;
  
}
#fichasactual{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.contenido{
  display: flex;
  flex-direction: column;
  width: 85%;
 /*  background-color: rgb(43, 183, 226); */
  
}
.titulo{
  /* font-size: 4em; */
  background-color: #3D3937;
  background-image: linear-gradient(to right, #DD9833, #b47618, #995c00);
  -webkit-background-clip: text;
  color: transparent;
  width: 100%;
   
 /* color: #EDC045; */
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenido2{
  width: 100%;
  display: flex;
  flex-direction: row;
}


 /*TABLERO*/ 
/*   #table {
    width: 80%;
    height: 600px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-image: url(../imagenes/fondo.jpg);
   /*  background-color: #f8f8f8; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  } */


  #table {
    width: 80%;
    height: 600px;
    background-image: url(../imagenes/fondo.jpg);
    /* border:10px solid #000; */
    display: flex;
    justify-content: center;
    margin: auto;
    
    line-height: 50px;
    
    
    
  }
  #table > div {
    display: block;
    padding: 20px;
    color: #fff;
    background: #2f88fc00;
    /* box-shadow: 2px 2px 10px rgba(0,0,0,.25); */
  }


   #table {
    display: grid;
/*     grid-gap: 20px; */
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: "uno dos cinco"
                         "tres cuatro cinco "
              
                        ;
  
  }

 
  #table #uno{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
     grid-area:uno;
     
    
  }
  #table #dos{
   margin: 0px;
   padding: 0px;
   display: flex;
   flex-direction: column;
    background-color: rgba(189, 55, 55, 0);
     grid-area:dos;
     
    
  }
  #table #tres{
    margin: 0px;
   padding: 0px;
   display: flex;
   flex-direction: column;
    background-color: rgba(143, 68, 68, 0);
     grid-area:tres;
     
    
  }
  #table #cuatro{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgba(207, 36, 36, 0);
     grid-area:cuatro;
     
    
  }
  #table #cinco{
    margin: 0px;
   padding: 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;

    background-color: rgba(11, 144, 184, 0);
     grid-area:cinco;
     
    
  }
  /*ANTES*/
  #player, #dealer-section, #center-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  

  #player1{
    margin: 0px;
    padding: 0px;
    background-color: #2f88fc00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    
  }



  #player2{
    margin: 0px;
    padding: 0px;
    background-color: #10315c00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    
  }
  #player3{
    margin: 0px;
    padding: 0px;
    background-color: #90a8c700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
  }
  #player4{
    margin: 0px;
    padding: 0px;
    background-color: #69fc2f00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
  }


  #contenidocartas{
    background-color: #33333300;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }


  .card {
    width: 70px;
    height: 105px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
  }
  .card img{
    width:70px;
    height: 105px;
  }
  h2 {
    margin-bottom: 10px;
  }
      
    /*BANCA*/
    #player0{
      
      margin: 0px;
      padding: 0px;
      display: flex;
      /* flex-wrap:wrap;   */
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #36522b00;
     
      /* max-width: 300px; */
        /* width: 250px;   */
       height: 500px;
       
      
    }
    
    #player0 #contenidocartas{
 
      background-color: #33333300;
    display: flex;
    flex-wrap: wrap;
      justify-content: center;
 

    }
    #player0 h3{
      background-color: #2f88fc00;
      margin: 0;
      padding: 0;
 
      text-align: center; 
       

    }
  
  /*MIS CARTAS*/
  #miscartas{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

  }
  #miscartas H2{
    font-size: 20px;

  }

  #miscartas #player1 {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #9dafc500;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  #miscartas #contenidocartas .card {
    width: 133.3px;
    height: 200px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
  
  }

  #miscartas #contenidocartas .card img{
    width: 133.3px;
    height: 200px;
   
  
  }



  /*taco*/
  .taco{
    width: 20%;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .taco img{
    width: 200px;
  }
  .taco button {
    margin: 5px;
    padding: 5px 10px; /* Ajusta el padding según tu preferencia */
    border: none;
    border-radius: 5px;
    background-color: #DD9833; /* Color de fondo */
    color: #6E000B;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición al pasar el mouse */
  }
  
  .taco button:hover {
    background-color: #6E000B;
    color: #DD9833; /* Cambio de color al pasar el mouse */
  }
  .cartas{
    color: #DD9833;
    width: 100%;
    background-color: rgba(185, 111, 14, 0);
    min-height: 250px;
  }


/*MODALL*/

.modal {
  display: none; /* Por defecto, oculto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-contenido {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Inicio*/

.Iniciar {
  display: none; /* Por defecto, oculto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-contenido {
  background-color: #6E000B;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  position: relative;
  color:#DD9833 ;
}
.modal-contenido h1{
  color:#DD9833 ;
  text-decoration:underline;

}
.formatoIiciar{
  display: flex;
  /* justify-content: center;
  
  margin: 0;
  padding: 20px;
  align-content: center; */

}
.formatoIiciar img{
  width: 20px; 
  height: 20px;
  padding-left: 10px;
  padding-top: 20px;
  
}
#button {
  
  margin: 10px;
  margin-top: 20px;
  padding: 15px 30px; /* Ajusta el padding según tu preferencia */
  border: none;
  border-radius: 5px;
  background-color: #DD9833; /* Color de fondo */
  color: #6E000B;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición al pasar el mouse */
}
#button:hover{
  background-color:#b87a1d ;
  color: #6E000B;
}